<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <center>
                <h3>
                    <a href="https://openreview.net/group?id=bioconductor.org/EuroBioC/2022/Conference" target="_blank">Submission is open! Submit your abstract by June 10, 2022 (23:59 GMT).</a> 
                    <p>
                    <a href="registration">Registration</a> for the EuroBioC2022 in-person conference is now open. <a href="registration">Register here</a>.
                    <p>
                    Venue: Germany, Heidelberg, <a href="https://www.bioquant.uni-heidelberg.de/" target="_blank">Center for Quantitative Analysis of Molecular and Cellular Biosystems (BioQuant)</a>  
                </h3>
                <h4>
                    In conjunction with the EuroBioC conference, we are organizing a Carpentries workshop <a href="https://bioconductor.github.io/2022-09-12-BiocIntro-Heidelberg/" target="_blank">"Introduction to R and Bioconductor"</a> on September 12-13. Free, <a href="https://forms.gle/s3LqMuYiRqQw5PHj8" target="_blank">registration required</a>.
                </h4>
                </center>
                <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p>
            </div>
            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th><h4>Key dates</h4></th>
                        <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
                    </tr>
                    <tr>
                        <td>
                            <!--
                            <h4>Due to the uncertainty of travel situation, the most optimal conference dates/venues are currently being determined. Stay tuned by following the <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a> Twitter account.
                            -->
                            <ul>
                                <li><b>April 11 - June 10, 2022</b>: <a href="submissions">Submission</a> for workshops, posters, talks is open. Access the submission portal <a href="https://openreview.net/group?id=bioconductor.org/EuroBioC/2022/Conference" target="_blank">here</a>. </li>
                                <li><b>May 20, 2022</b>: Registration opens!</li>
                                <!--
                                <li><b>February 21, 2022</b>: Decision on acceptance</li>
                                <li><b>February 16, 2022</b>: Registration closes for in-person attendance</li>
                                <li><b>March 7, 2022</b>: Registration closes for virtual attendance</li>
                                <li><b>March 14-15, 2022</b>: 'Intro to R' pre-conference workshop</li>
                            -->
                                <li><b>September 14-16, 2022</b>: EuroBioC2022 conference</li>
                                <br>
                            </ul>
                        </td>
                        <td>
                            <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </td>
                    </tr>
                </table>

                </p>
        </div>
        </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
